.formSearch {
   width: 100%;
   position: relative;
}

.formSearch input {
   width: 100%;
   padding: 15px 15px 15px 50px;
   border-radius: 40px;
   background-color: #2E2F2F;
   border: none;
   color: #fff;
}

.formSearch input:focus {
   outline: 1px solid #09ff67;
   background-color: #000;
}

.formSearch input::placeholder {
   color: #c7c7c7;
}

.icon-search {
   position: absolute;
   left: 20px;
   top: 50%;
   transform: translateY(-50%);
}

@media screen and ((min-width: 300px) and (max-width: 374px)) {
   .formSearch input {
      padding: 10px 10px 10px 40px;
      font-size: 12px;
   }

   .icon-search {
      left: 10px;
   }
}