.buttonContacts {
    border: solid 2px #2f3030;
    border-radius: 20px;
    padding: 8px;
    background-color: transparent;
    color: #929191;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttonContacts:hover {
    background-color: #353535;
}

.buttonContacts:first-child {
    background-color: #103529;
    color: #4fff92;
}

@media screen and ((min-width: 300px) and (max-width: 374px)) {
    .buttonContacts {
        font-size: 9px;
        padding: 6px;
    
    }
}

@media screen and ((min-width: 375px) and (max-width: 500px)) {
    .buttonContacts {
        font-size: 10px;
        padding: 7px;
       
    }
}

@media screen and (min-width: 580px){
    .buttonContacts{
        width: 100%;
    }
}