.screenMessage {
    width: 100%;
    height: 100vh;
    background: url(/img/fondoChat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.screenMessage-content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 300px) and (max-width: 767px) {
    .screenMessage {
        height: 100dvh;
        flex-direction: column;
    }
    
    .screenMessage-content {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .screenMessage > div:first-child {
        display: none; 
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .screenMessage {
        flex-direction: row;
    }
    
    .screenMessage > div:first-child {
        width: 40%;
    }
    
    .screenMessage-content {
        width: 60%;
        height: 100vh;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1439px) {
    .screenMessage {
        flex-direction: row;
    }
    
    .screenMessage > div:first-child {
        width: 30%;
    }
    
    .screenMessage-content {
        width: 70%;
        height: 100vh;
    }
}


@media screen and (min-width: 1440px) {
    .screenMessage {
        flex-direction: row;
    }
    
    .screenMessage > div:first-child {
        width: 25%;
    }
    
    .screenMessage-content {
        width: 75%;
        height: 100vh;
    }
}