.contactHeader {
    width: 100%;
    background-color: #161717;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.contactHeader-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactHeader-content-userData {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.back-arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.contactHeader-content-userData img {
    border-radius: 100px;
    object-fit: cover;
}

.contactHeader-content-userData-data {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: #fff;
}

.contactHeader-content-functions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactHeader-content-userData-data-is_connected {
    font-weight: 600;
    color: #adadad;
}

.contactHeader-content-userData-data-last_connection{
    font-weight: 600;
    color: #adadad;
    font-size: 11px;
}


@media screen and (min-width: 300px) and (max-width: 767px) {
    .contactHeader {
        height: 70px;
        padding: 15px 15px 0 15px;
    }
    
    .contactHeader-content-userData img {
        width: 35px;
        height: 35px;
    }
    
    .contactHeader-content-functions {
        gap: 15px;
    }
    
    .contactHeader-content-userData-data-is_connected {
        font-size: 10px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contactHeader {
        height: 75px;
        padding: 18px 18px 0 18px;
    }
    
    .contactHeader-content-userData {
        gap: 12px;
    }
    
    .contactHeader-content-userData img {
        width: 38px;
        height: 38px;
    }
    
    .contactHeader-content-functions {
        gap: 25px;
    }
    
    .contactHeader-content-userData-data-is_connected {
        font-size: 11px;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1439px) {
    .contactHeader {
        height: 80px;
        padding: 22px 22px 0 22px;
    }
    
    .contactHeader-content-userData {
        gap: 15px;
    }
    
    .contactHeader-content-userData img {
        width: 40px;
        height: 40px;
    }
    
    .contactHeader-content-functions {
        gap: 30px;
    }
    
    .contactHeader-content-userData-data-is_connected {
        font-size: 12px;
    }
}


@media screen and (min-width: 1440px) {
    .contactHeader {
        height: 85px;
        padding: 25px 25px 0 25px;
    }
    
    .contactHeader-content-userData {
        gap: 18px;
    }
    
    .contactHeader-content-userData img {
        width: 45px;
        height: 45px;
    }
    
    .contactHeader-content-functions {
        gap: 35px;
    }
    
    .contactHeader-content-userData-data-is_connected {
        font-size: 13px;
    }
}