.headerContact {
   width: 100%;
   height: 200px;
   padding: 20px;
   display: flex;
   flex-direction: column;
}

.headerContact-top {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.headerContact-top span {
   color: #fff;
   font-size: 25px;
   font-weight: 600;
}

.headerContact-top .headerContact-top-icons {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 20px;
   position: relative;
}

.headerContact-top .headerContact-top-icons .headerContact-top-icons-icon {
   cursor: pointer;
}

.headerContact-bottom {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-top: 20px;
   width: 100%;
}

.headerContact-bottom-buttons {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
   margin-top: 10px;
   min-width: 200px;
}

@media screen and ((min-width: 300px) and (max-width: 374px)) {
   .headerContact {
      height: 180px;
      padding: 10px;
   }
}