.message-container {
  display: flex;
  padding: 20px 20px 0 20px;
  width: 100%;
}

.message-container-left {
  justify-content: flex-start; 
}

.message-container-right {
  justify-content: flex-end; 
}

.message-container-left div , .message-container-right div{
  padding: 10px;
  border-radius: 10px;
  min-width: 4vw;
  max-width: 60vw;
  color: #fff;
  min-height: 55px;
  max-height: 70px;
}

.message-container-left div {
  background-color: #242626;
  position: relative;
}

.message-container-right div {
  background-color: #144D37;
  position: relative;
}

.message-container-content-date-my{
    position: absolute;
    bottom: 4px;
    right: 40px;
    font-size: 12px;
    color: #929191;
}

.message-container-content-date-contact{
    position: absolute;
    bottom: 4px;
    right: 15px;
    font-size: 12px;
    color: #929191;
}

.message-container-content-checkmark{
    position: absolute;
    bottom: 3px;
    right: 10px;
}